*{
    color: white;
    background-color: black;
}
footer{
    text-align: center;
}
.barre-navigazione{
    border: solid 1px;
    justify-items: center;
    padding: 20px;
    margin: 20px;
}
.icon-navigazione{
    margin: 0;
    padding: 20px;
    font-size: 10px;
}
a{
    margin: 60px;
    text-decoration: none;
}
h1 {
    text-align: center;
}
li{
    padding: 10px;
}
/*========================================*/
.content-first-fc{
    display: flex;
    height: auto;
    justify-content: space-evenly;
}
.content-second-fc{
    display: flex;
    flex-direction: column;
}
/*========================================*/
.content-first-r{
    display: flex;
    height: auto;
    justify-content: space-evenly;
}
.content-second-r{
    justify-content: space-evenly;
    display: flex;
    flex-direction: column;

}
/*========================================*/
.img-user{
    width: 100px;
    height: 100px;
}
/*========================================*/
/*========================================*/
/*========================================*/
/*========================================*/
.img-proyect{
    width: 200px;
    height: 200px;
    border-radius: 400px;
}
/*========================================*/
.content-prime{
    display: flex;
    flex-direction: column;
    align-items: center;
}
/*========================================*/
.parent-proyect{
    display: flex;
    border: solid 1px;
    height: 200px;
    width: 800px;
    margin: 20px;
    padding: 20px;
}
/*========================================*/
.child-proyect{
    display: flex;
    height: 200px;
    width: 200px;
    flex-direction: row;
}
.content-text{
    width: 500px;
    margin: 20px;
    padding: 20px;
}
/*========================================*/
/*========================================*/
/*========================================*/
/*========================================*/
.content-img{
    padding: 20px;
    margin: 10px;
    border: solid 1px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.content-img02{
    border-radius: 20px;
    padding: 20px;
    border: solid 1px;
    display: flex;
}
.img{
    border-radius: 20px;
    width: 300px;
    height: 300px;
}